.card-header{
         border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
  }

  .search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
  }
  .search:focus{
       box-shadow:none !important;
         outline:0px !important;
  } 
  