/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* Add application styles & imports to this file! */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://unpkg.com/ngx-bootstrap@5.5.0/datepicker/bs-datepicker.css');

:root {
  // Default Theme values below
  --theme-background-color: #fafafa;
  --theme-color: #f3f3f3;
  --theme-border-color: #fefefe;
  --theme-icon-color: rgb(18, 17, 17);
  --theme-header-color: rgb(138, 227, 227);
  --theme-scrolltrack-color: rgb(223, 226, 226);
  --theme-scrollthumb-color: #a9dfb9;
  --theme-scrollborder-color: #e4e4e4;
  --theme-search-color: rgb(217, 240, 214);
  --theme-header-footer-btn-color: #74e1c7;
  --theme-active-color: #787c77;
  --theme-text-color: rgb(7, 1, 1);
  --theme-notification-color: #17ff26d6;
  // --font-weight: 300
}

.user-bar{
  text-align: center;
    height: 5%;
    background:#0e74e2;
  }

.contacts_body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.contacts_body::-webkit-scrollbar-track {
  background: var(--theme-scrolltrack-color);
  /* color of the tracking area */
}

.contacts_body::-webkit-scrollbar-thumb {
  background-color: var(--theme-scrollthumb-color);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid var(--theme-scrollborder-color);
  /* creates padding around scroll thumb */
}

.msg_card_body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.msg_card_body::-webkit-scrollbar-track {
  background: var(--theme-scrolltrack-color);
  /* color of the tracking area */
}

.msg_card_body::-webkit-scrollbar-thumb {
  background-color: var(--theme-scrollthumb-color);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid var(--theme-scrollborder-color);
  /* creates padding around scroll thumb */
}

body,
html {
  height: 100%;
  margin: 0;
  background: -webkit-linear-gradient(to right, var(--theme-background-color),
      var(--theme-background-color), var(--theme-background-color));
  background: linear-gradient(to right, var(--theme-background-color), var(--theme-background-color),
      var(--theme-background-color));
}

.chat {
  margin-top: 10px;
  margin-bottom: auto;
}

.card {
  height: 565px;
  border-radius: 15px !important;
  background-color: var(--theme-color) !important;
}

.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}

.msg_card_body {
  overflow-y: auto;
}

.container {
  align-content: center;
}

.type_msg {
  background-color: #c8eded !important;
  border: 0 !important;
  color: var(--theme-text-color) !important;
  height: 60px !important;
  overflow-y: auto;
  cursor: pointer;
}

.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: var(--theme-header-footer-btn-color) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: var(--theme-header-footer-btn-color) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.search {
  border-radius: 15px 0 0 15px !important;
  background-color: var(--theme-search-color) !important;
  border: 0 !important;
  color: var(--theme-text-color) !important;
}

.search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: var(--theme-header-footer-btn-color) !important;
  border: 0 !important;
  color: var(--theme-text-color) !important;
  cursor: pointer;
}

.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
  border-bottom: 1px solid var(--theme-border-color);

}

.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;

}

.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}

.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}

.offline {
  background-color: #c23616 !important;
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.user_info span {
  font-size: 20px;
  color: var(--theme-text-color);
}

.user_info p {
  font-size: 10px;
  color: var(--theme-text-color);
}

.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}

.video_cam span {
  color: var(--theme-icon-color);
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.msg_head {
  position: relative;
}

#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--theme-icon-color);
  cursor: pointer;
  font-size: 20px;
}

#action_menu_btn_own {
  position: absolute;
  right: 10px;
  color: var(--theme-icon-color);
  cursor: pointer;
  font-size: 20px;
}

.active {
  background-color: var(--theme-active-color);
}

.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}

.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.action_menu ul li i {
  padding-right: 10px;

}

.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important;
  }
}

.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
  background-color: var(--theme-header-color);
}

.msgCount {
  font-size: 12px;
  width: 20px;
  height: 20px;
  padding: 0px;
  font-family: fantasy;
  background: var(--theme-notification-color);
  border-radius: 50%;
  text-align: center;
  color: var(--theme-text-color);
  // border: 3px solid var(--theme-border-color);
}

div#wave {
  position: relative;
  margin-top: -3vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  .dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 3px;
    background: var(--theme-notification-color);
    animation: wave 1.3s linear infinite;

    &:nth-child(2) {
      animation-delay: -1.1s;
    }

    &:nth-child(3) {
      animation-delay: -0.9s;
    }
  }
}

@keyframes wave {

  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-15px);
  }
}

.displayName {
  color: rgb(242, 240, 238);
  font-size: 15px;
  font-family: fantasy;
}

.ratnesh-snack {
  background: var(--theme-active-color);
  margin: 0 !important;
  position: absolute;
  left: 500px;
  top: 30px;
}

.showMenu {
  display: block;
}