<div class="card-body contacts_body">
    <ul ngClass="contacts">
        <li [ngClass]="user.selected? 'active':''" *ngFor="let user of searchedUsers() | search:'status,name':searchTxt"
            (click)="userClickHandler(user)">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="/assets/default-profile-picture.png" class="rounded-circle user_img">
                    <span
                        [ngClass]="user.status==='online' || user.status==='typing'?'online_icon':'online_icon offline'"></span>
                </div>
                <div class="user_info">
                    <span>{{user.name}}</span>
                    <p>{{user.email}} is {{user.status}}</p>
                    <div id="wave" *ngIf="user.typing">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                    
                </div>
                <div *ngIf="user.unreadMessageCount>0 && !user.selected" [@fade]="user.status" class="msgCount">{{user.unreadMessageCount}}</div>
                <div *ngIf="user.unreadMessageCount>0 && user.selected" [@fade]=""></div>
            </div>
        </li>
    </ul>
</div>