<router-outlet></router-outlet>
<app-user-menu-bar *ngIf="authService.loggedIn"></app-user-menu-bar>
<div class="container-fluid h-75" *ngIf="authService.loggedIn">
	<div class="row no-gutters">
		<div class="col-xl-3">
			<div class="card mb-sm-3 mb-md-0 contacts_card">
				<app-users-header></app-users-header>
				<div class="card-body contacts_body">
					<app-user-list></app-user-list>
				</div>
			</div>
		</div>
		<div class="col-xl-9">
			<div class="card">
				<app-chat-header></app-chat-header>
				<div class="card-body msg_card_body" #scrollMe (scroll)="onScroll()">
					<app-message-list>
					</app-message-list>
					<app-my-loader></app-my-loader>
				</div>
				<app-chat-footer></app-chat-footer>
			</div>
		</div>
	</div>
</div>