.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  
 
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  
  .button {
    width: 100%;
  }
  
/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
 .break {
  flex-basis: 100%;
  height: 0;
}